@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Semibold";
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins-Bold";
}

p {
    font-family: "Poppins-Regular";
    font-size: 11px;
}

.custom-nav {
    box-shadow: 0px 3px 6px #00000029;
}

.custom-nav .navbar-nav .nav-link {
    color: #000 !important;
}

.custom-btn {
    border-radius: 22px !important;
    border: 1px solid transparent !important;
    padding: 11px 18px !important;
    font-family: "Poppins-Bold";
    font-size: 10px !important;
}

.header-wrapper .navbar-collapse .custom-btn {
    background-color: #000;
    color: white;
}

.announcement-bar {
    background-color: #3db649;
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

#root p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.header-wrapper .navbar-collapse .custom-btn {
    border-radius: 21px;
    background-color: #000;
    color: white;
    border: 1px solid transparent;
    padding: 11px 18px;
}

.announcement-bar {
    background-color: #3db649;
    color: #fff;
}

.custom-nav {
    border-top: 3px solid #9ace00;
}

.custom-nav a {
    font-family: "Poppins-Bold";
    color: #000;
    font-size: 12px;
}

.theme-accent {
    color: #b704b7;
}

/* Hero Section  */

.hero-section {
    padding: 100px 0px;
    background: #000;
    color: #fff;
}

.hero-section p {
    font-family: "Poppins-Bold";
}

.hero-section h1 {
    color: #FF7F00;
    font-size: 43px;
}

.hero-section .custom-btn {
    background-color: #b704b7;
}

.hero-section img {
    width: 130px;
}

.hero-section .hero-content {
    max-width: 350px;
    margin: auto;
}

.hero-section .hero-content .btn {
    margin-top: 24px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8), transparent);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.hero-section .flip-card {
    background-color: transparent;
    width: 130px;
    height: 180px;
    perspective: 1000px;
}

.hero-section .flip-card-inner {
    position: relative;
    /* width: 100%;
    height: 100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hero-section .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.hero-section .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hero-section .flip-card-front {
    background-color: #bbb;
    color: black;
}

.hero-section .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #9ACE00;
    border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #9ACE00;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .hero-section img {
        width: 75px;
    }
}

@media screen and (max-width:767.98px) {
    .hero-section img {
        display: none;
    }
}

/* End Hero Section  */

/* Latest Posts */

.latestposts-section {
    margin-top: -30px;
    padding-bottom: 70px;
}

.latestposts-section h3 {
    font-size: 14px;
}

.latestposts-section .top-title-pill {
    background: #fff;
    color: #000;
    border: 1px solid transparent;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    padding: 20px 40px;
    font-family: "Poppins-Bold";
}

.latestposts-section .card {
    margin: auto;
}

.category-pill {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-family: "Poppins-Bold";
    color: #dcdcdc;
    padding: 2px 6px;
    font-size: 11px;
}

.floor-prices {
    padding-top: 43px;
}

.floor-prices .value {
    color: #989696;
    font-family: "Poppins-Medium";
    font-size: 11px;
}

.floor-prices .custom-card img {
    max-width: 64px;
}

.latestposts-section .custom-card {
    margin-bottom: 49px;
}

.latestposts-section .card-title {
    font-size: 13px;
    font-family: "Poppins-Bold";
}

.latestposts-section .card-link {
    color: #000;
    font-size: 10px;
    font-family: "Poppins-Bold";
    text-decoration: none;
}

.latestposts-section .card-main-title {
    font-size: 15px;
    font-family: 'Poppins-Bold';
    display: flex;
    align-items: stretch;
}

.category-pill.pink {
    border-color: #f7c8d1;
    color: #f7c8d1;
}

.category-pill.brown {
    border-color: #bc6c53;
    color: #bc6c53;
}

.category-pill.yellow {
    border-color: #f8db3c;
    color: #f8db3c;
}

.category-pill.green {
    border-color: #31b982;
    color: #31b982;
}

.category-pill.purple {
    border-color: #800080;
    color: #800080;
}

.category-pill.red {
    border-color: #f72727;
    color: #f72727;
}

.category-pill.darkgreen {
    border-color: #008080;
    color: #008080;
}

@media screen and (min-width: 1200px) {
    .latestposts-section .card {
        max-width: 248px;
    }
}

@media screen and (max-width:575.98px) {
    .latestposts-section .top-title-pill:first-child {
        margin-top: 6px;
    }
    .latestposts-section .top-title-pill:last-child {
        margin-top: 30px;
    }
    .latestposts-section .top-title-pill {
        padding: 12px 40px;
    }
}

/* End Latest Posts */

/* End Latest Posts */

/* FAQ section */

.faq-main-wrapper {
    padding: 49px;
}

.accordion-wrapper .accordion-item {
    border: none;
}

.accordion-wrapper .accordion-button {
    padding: 1rem 0px;
}

.accordion-wrapper .accordion-button:focus {
    box-shadow: none;
}

.accordion-wrapper .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #0ad900;
    background-color: transparent;
}

.accordion-wrapper .accordion-body {
    padding: 1rem 0px;
}

.faq-header-font {
    font-family: "Poppins-Bold";
    font-size: 24px;
}

.faq-same-heading {
    font-family: "Poppins-Regular";
}

.faq-same-body {
    font-family: "Poppins-Regular";
    font-size: 15px;
}

.faq-main-wrapper {
    background: transparent url("/assets/images/faq-background.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.accordion-wrapper .accordion-button, .accordion-wrapper .accordion-item {
    background-color: transparent;
}

@media screen and (max-width:767.98px) {
    .faq-main-wrapper {
        padding: 40px 0px;
    }
    .accordion-wrapper .accordion-button {
        padding: 0.6rem 0px;
        font-size: 14px;
    }
    .accordion-wrapper .accordion-body {
        padding: 0.6rem 0px;
        font-size: 14px;
    }
}

/* end of FAQ section */

/* Post Detail feature  */

.postdetail-feature {
    padding: 42px 0px;
}

.postdetail-feature {
    padding: 42px 0px;
}

.postdetail-feature a {
    box-shadow: 0px 3px 6px #00000029;
    max-width: 222px;
    display: block;
    border-radius: 6px;
}

.admission-redeem {
    background-color: #F0F0F0;
    max-width: 150px;
    padding: 7px 15px;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Poppins-Medium';
}

.edition {
    background-color: #fff;
}

.edition span {
    font-family: 'Poppins-Bold';
    color: #A1A1A1;
}

.postdetail-feature .description {
    color: #A1A1A1;
}

.postdetail-feature h3 {
    font-size: 14px;
}

.postdetail-feature .description p:first-child {
    font-family: 'Poppins-Bold';
}

.postdetail-feature .description p:last-child {
    font-family: 'Poppins-Medium';
}

.postdetail-feature .details p {
    color: #000;
    font-family: 'Poppins-Bold';
    font-size: 13px;
}

.postdetail-feature .date {
    color: #000;
}

@media screen {
    .postdetail-feature a {
        max-width: 100%;
    }
}

/* End Post Detail Feature */

/* Recent Activity */

.main-title-wrapper h2 {
    background: #fff;
    box-shadow: 0px 3px 7px #ccc;
    border-radius: 34px;
    max-width: 281px;
    text-align: center;
    margin: auto;
    z-index: 20;
    border: 1px solid #707070;
    margin: 32px auto;
    font-size: 16px;
    padding: 6px;
}

.main-title-wrapper {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.main-title-wrapper:before, .main-title-wrapper:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #707070;
    z-index: -1;
}

.main-title-wrapper:before {
    margin-left: -50%;
    text-align: right;
}

.color {
    background-color: #ccc;
}

.recent-activity {
    padding: 50px 0px;
}

.recent-activity a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins-Regular';
}

.table-container {
    border: 1px solid #ccc;
    border-radius: 12px;
    max-width: 793px;
    margin: auto;
}

.custom-table .row .col {
    padding: 10px;
}

.custom-table .status {
    background-color: #ff9517;
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
}

.custom-table .table-head {
    font-family: 'Poppins-Bold';
}

@media screen and (min-width:767.98px) and (max-width:991.98px) {
    .table-container {
        margin: 20px;
    }
    .recent-activity .link {
        margin: 20px !important;
    }
}

@media screen and (max-width:767.98px) {
    .table-container {
        margin: 20px;
    }
    .table-container ::-webkit-scrollbar {
        width: 10px !important;
    }
    /* Track */
    .table-container ::-webkit-scrollbar-track {
        background: #f1f1f1 !important;
    }
    /* Handle */
    .table-container ::-webkit-scrollbar-thumb {
        background: #888 !important;
    }
    /* Handle on hover */
    .table-container ::-webkit-scrollbar-thumb:hover {
        background: #555 !important;
    }
    .recent-activity .link {
        margin: 20px !important;
    }
}

@media screen and (max-width:575.98px) {
    .table-wrapper {
        width: 700px;
    }
    .table-container {
        overflow: auto;
    }
}

/* End Recent Activity */

/* Collection Detail */

.collection-detail .originalart-row .content-wrapper {
    max-width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}

@media screen and (max-width:767.98px) {
    .collection-detail video {
        width: 100%;
    }
}

/* End Collection Detail */

/* Post Detail Page */

/* Garrys Collection Page */

/* Collections Feature */

.collections-feature-wrap .stats-pannel {
    margin-top: 30px;
}

.collections-feature-wrap .stats-pannel .col {
    padding: 12px;
}

.collections-feature-wrap .col:not(:last-child) {
    border-right: 1px solid #ccc;
}

.collections-feature-wrap .total {
    font-family: 'Poppins-Semibold';
}

/* End Collections Feature */

/* Garrys Collection Page */

/* Footer */

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0px 20px 0px;
}

.footer h5 {
    font-size: 23px;
}

.footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-family: 'poppins-regular';
}

.footer p {
    font-size: 14px;
}

.footer .input-wrapper {
    position: relative;
    max-width: 387px;
}

.footer .input-wrapper input {
    border-radius: 30px;
    padding: 7px 85px 7px 7px;
}

.footer .input-wrapper input::placeholder {
    font-family: 'poppins-regular';
}

.footer .input-wrapper .btn {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #0AD900;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 20px;
}

.footer .container-fluid .row {
    max-width: 1140px;
    margin: auto;
}

.footer button {
    font-family: 'Poppins-Bold';
    font-size: 13px;
}

.footer a img {
    width: 50px;
}

@media screen {
    .footer h5 {
        font-size: 16px;
    }
}

/* End Footer */

/* end of FAQ section */


/* Timeline section */

.timeline-wrapper .timeline-card-content {
    display: flex;
    flex-direction: row;
}

.timeline-wrapper .timeline-card-content header {
    display: none;
}

.timeline-wrapper .timeline-card-content .card-description {
    display: none;
}

.timeline-wrapper .timeline-card-content .card-media-wrapper {
    max-width: 100px;
}

.timeline-wrapper .timeline-card-content .card-sub-title {
    padding-left: 0px;
    font-weight: 400;
}

.timeline-wrapper .css-u0xttt-TimelineContentSubTitle {
    font-size: 0.80rem;
}

@media only screen and (min-width: 375px) and (max-width: 440px) {
    .css-d0st9p-CardImage {
        max-width: 93px !important;
    }
    .css-m1ajd4-TimelineCardTitle {
        font-size: 0.80rem !important;
    }
    .css-8v2xrm-MediaDetailsWrapper {
        padding-left: 8px !important;
    }
    .css-u0xttt-TimelineContentSubTitle {
        font-size: 0.75rem !important;
        line-height: 18px !important;
    }
    .timeline-wrapper .timeline-card-content .card-media-wrapper {
        padding-left: 0.5rem !important;
        min-height: 160px !important;
    }
    .css-1relorn-TimelineItemContentWrapper {
        min-height: 0px !important;
    }
}

@media only screen and (min-width: 992px) {}

.timeline-wrapper .timeline-card-content .css-d0st9p-CardImage {
    max-width: 118px;
}

.timeline-wrapper .timeline-card-content .css-8v2xrm-MediaDetailsWrapper {
    padding-left: 32px;
}

.timeline-wrapper .css-p3xmy4-VerticalCircleWrapper::after {
    background: #C3C3C3;
}

.timeline-wrapper .css-1ilps6c-Circle {
    border: 2px solid #a7a7a7;
    height: 25px;
    width: 25px;
}

.timeline-wrapper .css-1ilps6c-Circle:not(.using-icon) {
    background: white;
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
    .timeline-wrapper Chrono {
        mode: "VERTICAL";
    }
}


/* end of Timeline section */


/* Token Section */

.card-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-wrapper .card {
    word-wrap: unset;
}

.card-wrapper p {
    font-family: "Poppins-Bold";
    color: #a7a7a7;
}

.card-wrapper .heading-font {
    font-family: "Poppins-Bold";
    font-size: 18px;
}

.card-header-container .card-header-line {
    border: 1px solid #707070;
    margin-top: 0.2rem;
}

.card-header-container .card-quantity {
    margin-left: 0px;
    font-family: "Poppins-SemiBold";
    font-size: 18px;
}

.alphabet-link {
    font-family: "Poppins-SemiBold";
    font-size: 12px;
}

.screen-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 3%;
}

.screen-header-line {
    border: 1px solid #707070;
    z-index: 0;
}

.screen-header .screen-header-btn {
    position: absolute;
    width: 18.038rem;
    height: 2.424rem;
    border: 2px solid #a7a7a7;
    left: 33rem;
    top: 0px;
}


/* end of Token Section */

/* End Footer */

