@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

h1 {
    font-size: 43px !important;
    font-family: "Poppins-Bold";
}

h3 {
    font-size: 12px;
    font-family: "Poppins-Bold";
}

p {
    font-family: "Poppins-Regular";
    font-size: 11px;
}

.custom-btn {
    border-radius: 22px !important;
    border: 1px solid transparent !important;
    padding: 11px 18px !important;
    font-family: "Poppins-Bold";
    font-size: 10px !important;
}

.header-wrapper .navbar-collapse .custom-btn {
    background-color: #000;
    color: white;
}

.announcement-bar {
    background-color: #3db649;
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

#root p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    margin-bottom: 0px !important;
}

.header-wrapper .navbar-collapse .custom-btn {
    border-radius: 21px;
    background-color: #000;
    color: white;
    border: 1px solid transparent;
    padding: 11px 18px;
}

.announcement-bar {
    background-color: #3db649;
    color: #fff;
}

.custom-nav {
    border-top: 3px solid #9ace00;
}

.custom-nav a {
    font-family: "Poppins-Bold";
    color: #000;
    font-size: 10px;
}

.theme-accent {
    color: #b704b7;
}


/* Hero Section  */

.hero-section {
    padding: 100px 0px;
    background: #000;
    color: #fff;
}

.hero-section p {
    font-family: "Poppins-Bold";
}

.hero-section h1 {
    color: #ff7f00;
}

.hero-section .custom-btn {
    background-color: #b704b7;
}


/* End Hero Section  */


/* Latest Posts */

.latestposts-section {
    margin-top: -30px;
    padding-bottom: 70px;
}

.latestposts-section .top-title-pill {
    background: #fff;
    color: #000;
    border: 1px solid transparent;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    padding: 20px 40px;
    font-family: "Poppins-Bold";
}

.category-pill {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-family: "Poppins-Bold";
    color: #dcdcdc;
    padding: 2px 6px;
    font-size: 11px;
}

.floor-prices {
    padding-top: 43px;
}

.floor-prices .value {
    color: #989696;
    font-family: "Poppins-Medium";
    font-size: 11px;
}

.latestposts-section .custom-card {
    margin-bottom: 49px;
}

.latestposts-section .card-title {
    font-size: 13px;
    font-family: "Poppins-Bold";
}

.latestposts-section .card-link {
    color: #000;
    font-size: 10px;
    font-family: "Poppins-Bold";
    text-decoration: none;
}

.latestposts-section .card-main-title {
    font-size: 15px;
    font-family: "Poppins-Bold";
}

.category-pill.pink {
    border-color: #f7c8d1;
    color: #f7c8d1;
}

.category-pill.brown {
    border-color: #bc6c53;
    color: #bc6c53;
}

.category-pill.yellow {
    border-color: #f8db3c;
    color: #f8db3c;
}

.category-pill.green {
    border-color: #31b982;
    color: #31b982;
}

.category-pill.purple {
    border-color: #800080;
    color: #800080;
}

.category-pill.red {
    border-color: #f72727;
    color: #f72727;
}

.category-pill.darkgreen {
    border-color: #008080;
    color: #008080;
}

@media screen and (min-width: 1200px) {
    .latestposts-section .card {
        max-width: 248px;
    }
}


/* End Latest Posts */


/* FAQ section */

.faq-main-wrapper {
    padding: 49px;
}

.accordion-wrapper .accordion-item {
    border: none;
}

.accordion-wrapper .accordion-button:focus {
    box-shadow: none;
}

.accordion-wrapper .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #0ad900;
    background-color: transparent;
}

.faq-header-font {
    font-family: "Poppins-Bold";
    font-size: 24px;
}

.faq-same-heading {
    font-family: "Poppins-Regular";
}

.faq-same-body {
    font-family: "Poppins-Regular";
    font-size: 15px;
}

.faq-main-wrapper {
    background: transparent url("/assets/images/faq-background.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.accordion-wrapper .accordion-button,
.accordion-wrapper .accordion-item {
    background-color: transparent;
}


/* end of FAQ section */


/* Timeline section */

.timeline-wrapper .timeline-card-content {
    display: flex;
    flex-direction: row;
}

.timeline-wrapper .timeline-card-content header {
    display: none;
}

.timeline-wrapper .timeline-card-content .card-description {
    display: none;
}

.timeline-wrapper .timeline-card-content .card-media-wrapper {
    max-width: 100px;
}

.timeline-wrapper .timeline-card-content .card-sub-title {
    padding-left: 0px;
    font-weight: 400;
}

.timeline-wrapper .css-u0xttt-TimelineContentSubTitle {
    font-size: 0.80rem;
}

@media only screen and (min-width: 375px) and (max-width: 440px) {
    .css-d0st9p-CardImage {
        max-width: 93px !important;
    }
    .css-m1ajd4-TimelineCardTitle {
        font-size: 0.80rem !important;
    }
    .css-8v2xrm-MediaDetailsWrapper {
        padding-left: 8px !important;
    }
    .css-u0xttt-TimelineContentSubTitle {
        font-size: 0.75rem !important;
        line-height: 18px !important;
    }
    .timeline-wrapper .timeline-card-content .card-media-wrapper {
        padding-left: 0.5rem !important;
        min-height: 160px !important;
    }
    .css-1relorn-TimelineItemContentWrapper {
        min-height: 0px !important;
    }
}

@media only screen and (min-width: 992px) {}

.timeline-wrapper .timeline-card-content .css-d0st9p-CardImage {
    max-width: 118px;
}

.timeline-wrapper .timeline-card-content .css-8v2xrm-MediaDetailsWrapper {
    padding-left: 32px;
}

.timeline-wrapper .css-p3xmy4-VerticalCircleWrapper::after {
    background: #C3C3C3;
}

.timeline-wrapper .css-1ilps6c-Circle {
    border: 2px solid #a7a7a7;
    height: 25px;
    width: 25px;
}

.timeline-wrapper .css-1ilps6c-Circle:not(.using-icon) {
    background: white;
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
    .timeline-wrapper Chrono {
        mode: "VERTICAL";
    }
}


/* end of Timeline section */


/* Token Section */

.card-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-wrapper .card {
    word-wrap: unset;
}

.card-wrapper p {
    font-family: "Poppins-Bold";
    color: #a7a7a7;
}

.card-wrapper .heading-font {
    font-family: "Poppins-Bold";
    font-size: 18px;
}

.card-header-container .card-header-line {
    border: 1px solid #707070;
    margin-top: 0.2rem;
}

.card-header-container .card-quantity {
    margin-left: 0px;
    font-family: "Poppins-SemiBold";
    font-size: 18px;
}

.alphabet-link {
    font-family: "Poppins-SemiBold";
    font-size: 12px;
}

.screen-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 3%;
}

.screen-header-line {
    border: 1px solid #707070;
    z-index: 0;
}

.screen-header .screen-header-btn {
    position: absolute;
    width: 18.038rem;
    height: 2.424rem;
    border: 2px solid #a7a7a7;
    left: 33rem;
    top: 0px;
}


/* end of Token Section */